.profile {
    max-width: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto 40px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding: 12px;
}

.imgContainer {
    background-color: #242424;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.tag,
.location {
    color: #6e6c6c;
}

.listStatistics {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1cccc;
}

.listStatItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #9e9c9c;
    flex-basis: calc(100% / 3);
}