.table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 500px;
}

.tableHeaderTitle,
.tableСellСontent {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
}

.tableHeaderTitle {
    background-color: #333333;
    color: white;
}

.tr:nth-child(n+2):nth-child(even) {
    background-color: #c0c0c0;
}